/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

/* 제목 스타일 */
p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}

/* 폼 스타일 */
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; /* 둥근 테두리 */
}

/* 입력 필드 스타일 */
input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* 입력 필드 호버 효과 */
input[type="text"]:hover {
    background-color: #f7f7f7;
    border-radius: 7px;
}

input:hover {
    border-bottom: 1px solid #242121;
}

/* 버튼 스타일 */
#button {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #242121;
    line-height: 30px;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
    vertical-align: middle; /* 입력창과 세로 정렬 */
    border-radius: 7px;
    transition: all 0.2s ease;
}

/* 버튼 호버 효과 */
#button:hover {
    transform: scale(1.2);
    color: #3a3939;
    border-radius: 7px;
}

/* 리스트 스타일 */
#list {
    padding-left: 0px;
}

/* 리스트 아이템 스타일 */
#list p {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 17px;
    font-size: 20px;
    text-align: left;
    margin: 0;
    display: flex;
}

/* 리스트 아이템 호버 효과 */
#list p:hover {
    background-color: #f7f7f7;
    border-radius: 7px;
}

/* 체크박스 스타일 */
#list input[type="checkbox"] {
    margin-right: 10px;
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;
}

/* 체크박스 호버 효과 */
#list input[type="checkbox"]:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* 연필 스타일 */
#list i.fa-pen {
    order: 1;
    margin-left: auto;
    cursor: pointer;
    padding: 3px;
    opacity: 0.8;
    transition: all 0.2s ease;
}

/* 연필 호버 효과 */
#list i.fa-pen:hover {
    transform: scale(1.2);
    color: #3a3939;
}

/* 휴지통 스타일 */
#list i.fa-trash {
    order: 2;
    margin-left: 5px;
    cursor: pointer;
    padding: 3px;
    opacity: 0.8;
    transition: all 0.2s ease;
}

/* 휴지통 호버 효과 */
#list i.fa-trash:hover {
    transform: scale(1.2);
    color: #3a3939;
}