<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/list.js" defer></script>
    <link rel="stylesheet" href="/css/home/list.css">
    <title>To Do List</title>
</head>
<body>
    <div class="list-page">
        <div class="form">
            <p>To Do List</p>
            <input id="text" type="text" placeholder="여기에 입력하세요.">
            <p id="button">+</p>
            <ul id="list"></ul>
        </div>
    </div>
</body>
</html>